# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/bungee.png
build/bungee_lap_psz07_gamma1.30_lambda0.40_minsize20_simint_3.0_final.png
build/bungee_mask.png
build/cmake_install.cmake
build/CMakeCache.txt
build/lapinpainting
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.6.2/CMakeCCompiler.cmake
build/CMakeFiles/3.6.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.6.2/CMakeSystem.cmake
build/CMakeFiles/3.6.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/lapinpainting.dir/build.make
build/CMakeFiles/lapinpainting.dir/cmake_clean.cmake
build/CMakeFiles/lapinpainting.dir/CXX.includecache
build/CMakeFiles/lapinpainting.dir/depend.internal
build/CMakeFiles/lapinpainting.dir/depend.make
build/CMakeFiles/lapinpainting.dir/DependInfo.cmake
build/CMakeFiles/lapinpainting.dir/flags.make
build/CMakeFiles/lapinpainting.dir/link.txt
build/CMakeFiles/lapinpainting.dir/progress.make
pcbuild/ALL_BUILD.vcxproj
pcbuild/ALL_BUILD.vcxproj.filters
pcbuild/ALL_BUILD.vcxproj.user
pcbuild/cmake_install.cmake
pcbuild/CMakeCache.txt
pcbuild/lapinpainting.opensdf
pcbuild/lapinpainting.sdf
pcbuild/lapinpainting.sln
pcbuild/lapinpainting.vcxproj
pcbuild/lapinpainting.vcxproj.filters
pcbuild/lapinpainting.vcxproj.user
pcbuild/ZERO_CHECK.vcxproj
pcbuild/ZERO_CHECK.vcxproj.filters
pcbuild/ZERO_CHECK.vcxproj.user
pcbuild/CMakeFiles/cmake.check_cache
pcbuild/CMakeFiles/CMakeOutput.log
pcbuild/CMakeFiles/generate.stamp
pcbuild/CMakeFiles/generate.stamp.depend
pcbuild/CMakeFiles/generate.stamp.list
pcbuild/CMakeFiles/TargetDirectories.txt
pcbuild/CMakeFiles/3.0.2/CMakeCCompiler.cmake
pcbuild/CMakeFiles/3.0.2/CMakeCXXCompiler.cmake
pcbuild/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_C.bin
pcbuild/CMakeFiles/3.0.2/CMakeDetermineCompilerABI_CXX.bin
pcbuild/CMakeFiles/3.0.2/CMakeRCCompiler.cmake
pcbuild/CMakeFiles/3.0.2/CMakeSystem.cmake
pcbuild/CMakeFiles/3.0.2/CompilerIdC/CMakeCCompilerId.c
pcbuild/CMakeFiles/3.0.2/CompilerIdC/CompilerIdC.vcxproj
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/cl.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CL.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CL.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CompilerIdC.exe.intermediate.manifest
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CompilerIdC.lastbuildstate
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CompilerIdC.vcxprojResolveAssemblyReference.cache
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/CompilerIdC.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/link.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/link.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/link.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/mt.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/mt.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdC/Debug/mt.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/CompilerIdCXX.vcxproj
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/cl.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CL.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CL.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.intermediate.manifest
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CompilerIdCXX.lastbuildstate
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CompilerIdCXX.vcxprojResolveAssemblyReference.cache
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/CompilerIdCXX.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/link.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/link.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/link.write.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/mt.command.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/mt.read.1.tlog
pcbuild/CMakeFiles/3.0.2/CompilerIdCXX/Debug/mt.write.1.tlog
pcbuild/CMakeFiles/3f9329280516a6aabc18e3b15ce56d55/ALL_BUILD.rule
pcbuild/CMakeFiles/3f9329280516a6aabc18e3b15ce56d55/generate.stamp.rule
pcbuild/CMakeFiles/3f9329280516a6aabc18e3b15ce56d55/ZERO_CHECK.rule
pcbuild/lapinpainting.dir/Release/cl.command.1.tlog
pcbuild/lapinpainting.dir/Release/CL.read.1.tlog
pcbuild/lapinpainting.dir/Release/CL.write.1.tlog
pcbuild/lapinpainting.dir/Release/custombuild.command.1.tlog
pcbuild/lapinpainting.dir/Release/custombuild.read.1.tlog
pcbuild/lapinpainting.dir/Release/custombuild.write.1.tlog
pcbuild/lapinpainting.dir/Release/lapinpainting.exe.intermediate.manifest
pcbuild/lapinpainting.dir/Release/lapinpainting.lastbuildstate
pcbuild/lapinpainting.dir/Release/lapinpainting.log
pcbuild/lapinpainting.dir/Release/lapinpainting.write.1.tlog
pcbuild/lapinpainting.dir/Release/link.command.1.tlog
pcbuild/lapinpainting.dir/Release/link.read.1.tlog
pcbuild/lapinpainting.dir/Release/link.write.1.tlog
pcbuild/lapinpainting.dir/Release/mt.command.1.tlog
pcbuild/lapinpainting.dir/Release/mt.read.1.tlog
pcbuild/lapinpainting.dir/Release/mt.write.1.tlog
pcbuild/Release/bungee.png
pcbuild/Release/bungee_lap_psz07_gamma1.30_lambda0.40_minsize20_simint_3.0_final.png
pcbuild/Release/bungee_mask.png
pcbuild/x64/Release/ZERO_CHECK/custombuild.command.1.tlog
pcbuild/x64/Release/ZERO_CHECK/custombuild.read.1.tlog
pcbuild/x64/Release/ZERO_CHECK/custombuild.write.1.tlog
pcbuild/x64/Release/ZERO_CHECK/ZERO_CHECK.lastbuildstate
pcbuild/x64/Release/ZERO_CHECK/ZERO_CHECK.log
pcbuild/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxprojResolveAssemblyReference.cache
